
@{
	Layout = null;
	MyBlog.DAL.BlogDAL blogdal = new MyBlog.DAL.BlogDAL();
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width" />
	<meta name="author" content="www.yanshisan.cn" />
	<meta name="robots" content="all" />
	<title>文章</title>
	<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/layui-v2.8.11/layui/css/layui.css" />
	<link rel="stylesheet" href="/assets/css/master.css" />
	<link rel="stylesheet" href="/assets/css/gloable.css" />
	<link rel="stylesheet" href="/assets/css/nprogress.css" />
	<link rel="stylesheet" href="/assets/css/blog.css" />
	<style>
	user
	{
	right:0%;display:block;position:absolute;padding-top:16px;
	}
	</style>
</head>
<body>
	<div class="header">
	</div>
	<header class="gird-header">
		<div class="header-fixed">
			<div class="header-inner">
				<a href="javascript:void(0)" class="header-logo" id="logo">Liuyun</a>
				<nav class="nav" id="nav">
					<ul>
						<li><a href="/home/index">首页</a></li>
						<li><a href="article.html">博客</a></li>
						<li><a href="message.html">留言</a></li>
						<li><a href="link.html">友链</a></li>
						<li><a href="/Home/login">退出</a></li>
					</ul>
				</nav>
				<div style="right:0%;display:block;position:absolute;padding-top:16px;font-size:18px;font-family:KaiTi">
					欢迎你,@base.Context.Session.GetString("username")
					
				</div>
				
				<a class="phone-menu">
					<i></i>
					<i ></i>
					<i></i>
				</a>
			</div>
		</div>
	</header>
	<div class="doc-container" id="doc-container">
		<div class="container-fixed">
			<div class="col-content">
				<div class="inner">
					<article class="article-list bloglist" id="LAY_bloglist">

					</article>
					
					<div style="padding-top: 10px;">
						<div class="layui-panel" id="demo-laypage-all"></div>
					</div>
				</div>
					
			</div>
			<div class="col-other">
				<div class="inner">
					<div class="other-item" id="categoryandsearch">
						<div class="search">
							<label class="search-wrap">
								<input type="text" id="search_key" placeholder="输入关键字搜索" />
								<span class="search-icon">
									<i class="fa fa-search" id="search">
										
									</i>
								</span>
							</label>
							<ul class="search-result"></ul>
						</div>
						<ul class="category mt20" id="category">
							@foreach (var ca in ViewBag.calist)
							{
								<li>
									<a href="/Blog/Artical?Number=@ca.Number">@ca.Name (@blogdal.CalcCount($"Number='{ca.Number}'"))</a>
								</li>
							}
						</ul>
					</div>
					<!--右边悬浮 平板或手机设备显示-->
					<div class="category-toggle"><i class="layui-icon">&#xe603;</i></div>
					<div class="article-category">
						<div class="article-category-title">分类导航</div>
						@foreach (var ca in ViewBag.calist)
						{
							<a href="/Blog?Number=ca.Number">@ca.Name</a>
						}
						<div class="f-cb"></div>
					</div>
					<!--遮罩-->
					<div class="blog-mask animated layui-hide"></div>
					<div class="other-item">
						<h5 class="other-item-title">热门文章</h5>
						<div class="inner">
							<ul class="hot-list-article">
								@foreach (var ca in ViewBag.toplist)
								{
									<li>
										<a href="/Blog/Artical/@ca.ID">@ca.Title (@ca.VisitNum)</a>
									</li>
								}
								
								
							</ul>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
	<footer class="grid-footer">
		<div class="footer-fixed">
			<div class="copyright">
				<div class="info">
					<div class="contact">
						<a href="javascript:void(0)" class="github" target="_blank"><i class="fa fa-github"></i></a>
						<a href="https://wpa.qq.com/msgrd?v=3&uin=930054439&site=qq&menu=yes" class="qq" target="_blank" title="930054439"><i class="fa fa-qq"></i></a>
						<a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=gbiysbG0tbWyuMHw8K-i7uw" class="email" target="_blank" title="930054439@qq.com"><i class="fa fa-envelope"></i></a>
						<a href="javascript:void(0)" class="weixin"><i class="fa fa-weixin"></i></a>
					</div>
					<p class="mt05">
						Copyright &copy;2023 流云
					</p>
				</div>
			</div>
		</div>
	</footer>
	<input type="hidden" id="hf_key" value="@ViewBag.search_key"/> 
	<input type="hidden" id="hf_number" value="@ViewBag.search_number" />
	<script src="/layui-v2.8.11/layui/layui.js"></script>
	<script src="/assets/js/yss/gloable.js"></script>
	<script src="/assets/js/plugins/nprogress.js"></script>
	<script>NProgress.start();</script>
	<script src="/assets/js/yss/article.js"></script>
	<script src="/adminstyle/js/jquery.js"></script>
	<script>
		window.onload = function ()
		{
			NProgress.done();
		};
	</script>
	<script>
		var pagesize=10;
		layui.use(function ()
		{
			var laypage = layui.laypage,layer=layui.layer,$=layui.jquery;
			var postdata=getcond();
			var url="/blog/GetTotalCount?t="+new Date().valueOf();
			
			$.post(url,postdata, function (count)
			{

				console.log("总数为" + count);
				laypage.render
				({
					elem: 'demo-laypage-all', // 元素 id
					count:count, // 数据总数
					layout: [ 'prev', 'page', 'next',  'refresh', 'skip'], // 功能布局
					jump: function (obj)
					{
						var pageindex=obj.curr;
						//读取后台
						load_blog_data(pageindex);
					},
					theme:'#c00'
				});
			});
			// 完整显示
		});
		function load_blog_data(pageindex)
		{
			//console.log("加载："+pageindex);
			layui.use('layer',function()
			{
				var $=layui.jquery,layer=layui.layer;
				var postdata=getcond();
				var url = "/blog/list?pageindex=" + pageindex + "&pagesize=" + pagesize;
				$.post(url, postdata, function (json)
				{
					console.log(postdata);
					var html = '';
					$.each(json,function(i,blog)
					{
						console.log("第"+i+"个元素");
						console.log(blog);
						html+='<section class="article-item zoomIn article">';
						//html+='    <div class="fc-flag">置顶</div>'
						html+='    <h5 class="title">';
						html+='        <span class="fc-blue">【原创】</span>';
						html+='        <a href="/Blog/Show/'+blog.id+'">'+blog.title+'</a>';
						html+='    </h5>';
						html+='    <div class="time">';
						html+='        <span class="day">'+blog.createDate.substring(8,10)+'</span>';
						html += '        <span class="month fs-18">' + blog.createDate.substring(5, 7) + '<span class="fs-14">月</span></span>';
						html += '        <span class="year fs-18 ml10">' + blog.createDate.substring(0, 4) + '</span>';
						html+='    </div>';
						html+='    <div class="content">';
						html += '        <a href="/Blog/Show/'+blog.id +'"class="cover img-light">';
						html+='           <img src="">';
						html+='          </a>';
						html+='        '+blog.desc;
						html+='    </div>';
						html+='    <div class="read-more">';
						html+='        <a href="/Blog/Read/16" class="fc-black f-fwb">继续阅读</a>';
						html+='   </div>';
						html+='    <aside class="f-oh footer">';
						html+='       <div class="f-fl tags">';
						html+='            <span class="fa fa-tags fs-16"></span>';
						html+='            <a class="tag">'+blog.name+'</a>';
						html+='        </div>';
						html+='        <div class="f-fr">';
						html+='            <span class="read">';
						html+='                <i class="fa fa-eye fs-16"></i>';
						html+='                <i class="num">'+blog.visitNum+'</i>';
						html+='            </span>';
						html+='            <span class="ml20">';
						html+='                <i class="fa fa-comments fs-16"></i>';
						html+='                <a href="javascript:void(0)" class="num fc-grey">1</a>';
						html+='            </span>';
						html+='        </div>';
						html+='    </aside>';
						html+='</section>';
					})

					$('.article-list.bloglist').html(html);
				}, 'json')
			})
		}
	</script>
	<script>
		function getcond() 
		{
			var $ = layui.jquery, layer = layui.layer;
			var key =$("#hf_key").val();
			var number = $("#hf_number").val();
			var postdata = { key: key, number: number };
			return postdata;
		}
		document.getElementById('search').addEventListener('click', function () 
		{
			var key = $('#search_key').val();
			var url = "/Blog/Artical?key= " + encodeURIComponent(key);
			location.href = url;
		});
		//取url参数
		function getQueryString(name) 
		{
			let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			let r = window.location.search.substr(1).match(reg);
			if (r != null) 
			{
				return decodeURIComponent(r[2]);
			};
			return null;
		}
	</script>
</body>
</html>

