@model MyBlog.Model.Blog
<blockquote class="layui-elem-quote">
	添加文章
</blockquote>
<div style="padding:10px;">
    <form class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">文章标题</label>
            <div class="layui-input-block">
                @Html.TextBoxFor(a=>a.Title,new {placeholder="请输入标题",@class="layui-input"})
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文章分类</label>
            <div class="layui-input-block">
                <select name="Number">
                    @foreach(MyBlog.Model.Category ca in ViewBag.calist)
                    {
                        if(ca.Number==Model.Number)
                        {
                            <option selected="selected" value="@ca.Number">@ca.Name</option>
                        }
                        else
                        {
                            <option value="@ca.Number">@ca.Name</option>
                        }
                        
                    }
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">文章内容</label>
            <div class="layui-input-block">
                
                @Html.TextAreaFor(a=>a.Body,new {placeholder="请输入内容",@class="layui-textarea"})
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="submit">立即提交</button>
            </div>
        </div>
    </form>
    
</div>